HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
node_modules/
venv/
pycache/
__pycache__/
chroma_db_local/
.DS_Store
.env
eng-be-ai/venv/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
docker
.mvn
/deploy/docker-compose/dev/logs/
/deploy/docker-compose/prod/logs/

### Angular ###
/eng-fe-admin/node_modules
/eng-fe-admin/.angular
/eng-fe-admin/dist
/eng-fe-admin/.vscode/*
!/eng-fe-admin/.vscode/extensions.json
/eng-fe-admin/.DS_Store
/eng-fe-admin/Thumbs.db
/logs/
/eng-be-user/logs/
/eng-be-chat/logs/
/eng-be-ai/venv/
